body {
  margin: 0px;
  background-color: #717171; }

.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 8em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block; }

/* Yaku */
.link--yaku {
  color: #D3D3D3;
  font-family: "Playfair Display";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3em;
  overflow: hidden;
  padding: 0 0 10px; }
  .link--yaku::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 2px 0 2px 0;
    border-color: #282828;
    border-style: solid;
    left: 0;
    -webkit-transform: translate3d(-101%, 0, 0);
    transform: translate3d(-101%, 0, 0);
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s; }
  .link--yaku:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .link--yaku span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: -webkit-transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s; }
  .link--yaku:hover span {
    color: #1e1a1b;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
    transform: perspective(1000px) rotate3d(0, 1, 0, 360deg); }
  .link--yaku span:nth-child(12), .link--yaku:hover span:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .link--yaku span:nth-child(11), .link--yaku:hover span:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .link--yaku span:nth-child(10), .link--yaku:hover span:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .link--yaku span:nth-child(9), .link--yaku:hover span:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }
  .link--yaku span:nth-child(8), .link--yaku:hover span:nth-child(5) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s; }
  .link--yaku span:nth-child(7), .link--yaku:hover span:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; }
  .link--yaku span:nth-child(6), .link--yaku:hover span:nth-child(7) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .link--yaku span:nth-child(5), .link--yaku:hover span:nth-child(8) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .link--yaku span:nth-child(4), .link--yaku:hover span:nth-child(9) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .link--yaku span:nth-child(3), .link--yaku:hover span:nth-child(10) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .link--yaku span:nth-child(2), .link--yaku:hover span:nth-child(11) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }
  .link--yaku span:first-child, .link--yaku:hover span:nth-child(12) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s; }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(Fonts/MaterialIcons-Regular.woff2) format("woff2"), url(Fonts/MaterialIcons-Regular.woff) format("woff"); }
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }
  .material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light {
  color: white; }
  .material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3); }
.material-icons.md-18 {
  font-size: 18px; }
.material-icons.md-24 {
  font-size: 24px; }
.material-icons.md-36 {
  font-size: 36px; }
.material-icons.md-48 {
  font-size: 48px; }

/*# sourceMappingURL=main.css.map */
